<!-- Check if we have products-->
{{# if products }}
    <div class="row">
        <div class="col-sm-6 col-md-7 col-md-offset-4 col-sm-offset-4">
            <ul class="list-group">
                <!-- loop each product-->
                {{# each products }}
                    <!-- list item for each product -->
                    <li class="list-group-item">
                        <span class="badge">{{ this.qty }}</span>
                        <strong>{{ this.item.title }}</strong>
                        <span class="label label-success">${{ this.price }}</span>
                        <div class="btn-group">
                            <button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">Action<span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Remove Item</a></li>
                                <li><a href="#">Empty Cart</a></li>
                            </ul>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-7 col-md-offset-4 col-sm-offset-4">
            <strong>Total Price: ${{ totalPrice }} </strong>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-6 col-md-7 col-md-offset-4 col-sm-offset-4">
            <button type="button" class="btn btn-success">Checkout</button>
        </div>
{{ else }}
        <div class="row">
            <div class="col-sm-6 col-md-7 col-md-offset-4 col-sm-offset-4">
                <h2>Cart Empty</h2>
            </div>
        </div>
{{/if}}
</div>
